<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#212529">

        <title>{% block title %}Endroid.nl{% endblock %}</title>

        <link rel="icon" href="{{ preload(asset('symfony.png')) }}">
        <link rel="manifest" href="{{ preload(asset('manifest.json')) }}">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ preload(asset('/build/base.css')) }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}

            {% block top %}
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                    <a class="navbar-brand" href="#">Dashboard</a>
                    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('endroid_guide_index') }}">Guide</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('endroid_data_sanitize_merge_index') }}">Data Sanitize</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('endroid_predictionio_recommendation_index') }}">Prediction IO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('nelmio_api_doc_index') }}">API</a>
                            </li>
                            {% if app.user %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('endroid_cm_sms_dashboard') }}">SMS Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Log out</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('fos_user_security_login') }}">Log in</a>
                                </li>
                            {% endif %}
                        </ul>
                        {{ include('search/form.html.twig') }}
                    </div>
                </nav>
            {% endblock top %}

            {% block bottom %}
                <div class="container-fluid">
                    <div class="row">

                        {% block left %}
                            <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Reports</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Analytics</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Export</a>
                                    </li>
                                </ul>
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Nav item</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Nav item again</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">One more nav</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Another nav item</a>
                                    </li>
                                </ul>
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Nav item again</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">One more nav</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Another nav item</a>
                                    </li>
                                </ul>
                            </nav>
                        {% endblock left %}

                        {% block right %}
                            <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
                                {% if app.request.hasPreviousSession %}
                                    {% for type, messages in app.session.flashbag.all() %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{ type }}" role="alert">
                                                {{ message | raw }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}

                                {% block content %}

                                {% endblock content %}
                            </main>

                        {% endblock right %}

                    </div>
                </div>
            {% endblock bottom %}

        {% endblock body %}

        {% block javascripts %}
            <script src="{{ preload(asset('/build/manifest.js')) }}"></script>
            <script src="{{ preload(asset('/build/base.js')) }}"></script>
            <script>
                if ('serviceWorker' in navigator) {
                    navigator.serviceWorker
                        .register('/service-worker.js')
                        .then(function() {
                            console.log('Service worker registered');
                        }).catch(function(error) {
                            console.log('Failed to register service worker: ', error);
                        });
                }
            </script>
            <script src="https://widget.flow.ai/w/ZGRkZjUzMzEtMTk5Yi00ZWFmLWEzYmQtZTUwMDAyMWY5YmFlfGY3NDhkZTQ3LWJmZTItNDdhMC1hYjBkLWM4NTY4NWE0Y2VjMw==/flow-webclient-1.1.2.min.js"></script>
        {% endblock %}
    </body>
</html>
